<div class="login">
  <form id="login-form">
    <input type="hidden" name="password" id="pwd"/>
    <input type="hidden" name="password" id="salt"/>
    <p>
      <img src="./images/Profile1.png" alt="" class="user1"/>
      <input type="text" data-rule-isPhoneOrEmail="true" data-rule-required="true" class="user" placeholder="请输入您的账号"/>
    </p>
    <p>
      <img src="./images/Lock.png" alt="" class="pwd1"/>
      <input type="password" id="showPwd" data-rule-required="true" data-rule-rangelength="[5,20]" class="pwd" placeholder="请输入您的密码" />
    </p>
    <p>
      <input type="submit" class="clk" value="登陆"/>
    </p>
  </form>

</div>