<div id="page-wrapper">
    <div class="left">
        <h1>全账户黑名单</h1>
        <div class="tb1"></div>


        <p>词：</p>
        <p><textarea rows="4" cols="51" placeholder="aaa，bbb，ccc" class="ci"></textarea></p>
        <p>原因：</p>
        <p><textarea rows="4" cols="51" class="yuanyin"></textarea></p>
        <p><button class="left-1">add</button></p>
    </div>
    <div class="right">
        <h1>本账户黑名单</h1>
        <div class="tb2"></div>


        <p>词：</p>
        <p><textarea rows="4" cols="51" placeholder="aaa，bbb，ccc" class="ci"></textarea></p>
        <p>原因：</p>
        <p><textarea rows="4" cols="51" class="yuanyin"></textarea></p>
        <p><button class="left-2">add</button></p>
    </div>
</div>
