<div id="page-wrapper">
    <div class="left">
        <h1>全账户黑名单</h1>
        <div></div>
        <table id="myTable" class="tablesorter">
            <thead>
            <tr>
                <!--<th>关键词</th>-->
                <th>词</th>
                <th>原因</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody class="list">
            <tr>
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            </tbody>
        </table>

        <p>词：</p>
        <p><textarea rows="4" cols="51" placeholder="aaa，bbb，ccc" class="ci"></textarea></p>
        <p>原因：</p>
        <p><textarea rows="4" cols="51" class="yuanyin"></textarea></p>
        <p><button class="left-1">add</button></p>
    </div>
    <div class="right">
        <h1>本账户黑名单</h1>


        <table id="table" class="tablesorter">
            <thead>
            <tr>
                <!--<th>关键词</th>-->
                <th>词</th>
                <th>原因</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody class="list">
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>
            <tr>
                <!--<td class="js-op">0</td>-->
                <td>0</td>
                <td>0</td>
                <td><button class="del">删除</button></td>
            </tr>

            </tbody>
        </table>
        <p>词：</p>
        <p><textarea rows="4" cols="51" placeholder="aaa，bbb，ccc" class="ci"></textarea></p>
        <p>原因：</p>
        <p><textarea rows="4" cols="51" class="yuanyin"></textarea></p>
        <p><button class="left-2">add</button></p>
    </div>
</div>
