<div id="page-wrapper">
    <!--<div class="spinner1">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>-->

    <!--<div class="hidden" style="display: none;">-->
    <div class="bao" id="users">

        <div class="top1 clear">
        <span style="float: left;">
            计划
        </span>
            <span style="float: right;">
            <div style="display: inline-block;">
                <img src="./images/ri.png" alt="" class="rili"/>
                <input type="text" id="date"/>
            </div>
            <div class="searchs">
                <input type="text" placeholder="Search" class="search"/>
                <span class="glyphicon glyphicon-search" style="color:#666;"></span>
            </div>
        </span>
        </div>
        <div class="xian">
            <div id="main" style="height:300px;width:98%;margin-left: 1%;"></div>
        </div>
        <div class="biao">
            <div class="clear">
                <span style="float: left;" class="what">各计划数据统计</span>
                <span style="float: right;color: #333;font-size: 14px;">
                <input type="checkbox" name="cost" checked="checked" />消费变动&nbsp;&nbsp;
                <input type="checkbox" name="view" checked="checked" />展现变动&nbsp;&nbsp;
                <input type="checkbox" name="pv" checked="checked" />点击变动&nbsp;&nbsp;
                <input type="checkbox" name="down" checked="checked" /><span class="dou_down">下载变动</span>&nbsp;&nbsp;
                <input type="checkbox" name="activety" checked="checked" /><span class="dou_active">激活变动</span>&nbsp;&nbsp;
                <input type="checkbox" name="down_chengben" checked="checked" /><span class="dou_chengben">下载成本变动</span>&nbsp;&nbsp;
                <input type="checkbox" name="active_chengben" checked="checked" /><span class="dou_acchengben">激活成本变动</span>&nbsp;&nbsp;
                <input type="checkbox" name="btn_cost" checked="checked" /><span class="dou_btncost">按钮消费</span>
                <input type="checkbox" name="baidu_view" checked="checked" /><span class="baidu_view">按钮展现</span>
                <input type="checkbox" name="baidu_click" checked="checked" /><span class="baidu_click">按钮下载</span>&nbsp;&nbsp;
            </span>
            </div>
            <div id="tb"></div>
        </div>
    </div>
</div>
