<div id="page-wrapper">

    <div class="old clear">
        <div style="float: left" class="new">

        </div>

        <div class="record">

            <p style="font-size: 18px;font-weight: 500;">关键词</p>

            <p><span>出价：</span><input type="number" class="out" placeholder="0.3~10"></p>
            <p><span>URL：</span><input type="text" class="ul"></p>
            <p><span>计划：</span><input type="text" class="jihua"></p>
            <p><span>单元：</span><input type="text" class="danyuan"></p>
            <p><span>匹配模式：</span><select name="pipei" id="" class="pipei"><option selected>广泛</option><option>精确</option><option>短语-精确包含</option><option>短语-核心包含</option><option>短语-同义包含</option></select>
                </p>
            <p><span>启用/暂停：</span><select name="sele" id="" class="gsele"><option selected>启用</option><option>暂停</option></select></p>
            <p><span>计划预算：</span><input type="number" class="ys" placeholder="最大50(元)"></p>
            <p><span>来源：</span><input type="text" class="ly"></p>
            <p><span>种子词多层筛选：</span><input type="text" class="sx"></p>
            <p><span>种子词：</span><textarea rows="4" cols="31" style="margin-left: 10px;" placeholder="aaa，bbb，ccc" class="zhongzi"></textarea></p>
            <hr style=" height:2px;border:none;border-top:2px dotted #185598;">
            <p style="font-size: 18px;font-weight: 500;">创意</p>
            <p><span>移动访问URL：</span><input type="text" class="yidongwen"></p>
            <p><span>移动显示URL：</span><input type="text" class="yidongxian"></p>
            <p><span>创意标题：</span><input type="text" class="chuangtitle"></p>
            <p><span>创意通配符：</span><input type="text" class="tpf" placeholder="{xxx}"></p>
            <p><span>创意描述1：</span><input type="text" class="chuang1"></p>
            <p><span>创意描述2：</span><input type="text" class="chuang2"></p>
            <p><span>启用/暂停：</span><select name="sele" id="" class="csele"><option selected>启用</option><option>暂停</option></select></p>
            <p><button>提交</button></p>
        </div>
    </div>
    <div class="xiang">

    </div>
</div>

