<div id="page-wrapper">
    <form id="myForm">
    <div class="record">

        <p style="font-size: 18px;font-weight: 500;cursor: pointer;" class="gj">关键词<span class="glyphicon glyphicon-chevron-down" style="color: rgb(0, 0, 0);"> </span></p>
        <div class="luo">
            <p><span>出价：</span>
                <input type="number" data-rule-range="[0.3,10]" data-rule-required="true" class="out" placeholder="0.3~10" name="price">
                <span>URL：</span><input type="text" class="ul" name="url" data-rule-required="true" style="margin-left: 0px;"></p>
            <p><span>计划：</span><input type="text" class="jihua" name="plan"data-rule-maxlength="15"><span>单元：</span><input type="text" class="danyuan" name="unit" data-rule-maxlength="15"></p>
            <p><span>启用/暂停：</span><select name="gisuse" id="" class="gsele"><option selected>启用</option><option>暂停</option></select><span>匹配模式：</span><select name="matchModel" id="" class="pipei"><option selected>广泛</option><option>精确</option><option>短语-精确包含</option><option>短语-核心包含</option><option>短语-同义包含</option></select></p>
            <p><span>计划预算：</span><input type="number" class="ys" placeholder="50(元)~3000" name="ys" data-rule-range="[50,3000]"><span>来源：</span><input type="text" class="ly" name="ly"></p>
            <p><span>种子词多层筛选：</span><input type="text" class="sx" name="zsx"></p>
            <p><span>种子词：</span><textarea rows="4" cols="61" style="margin-left: 10px;" placeholder="aaa，bbb，ccc" class="zhongzi" name="words" data-rule-maxlength="5000"></textarea></p>
        </div>

        <hr style=" height:2px;border:none;border-top:2px dotted #185598;">
        <p style="font-size: 18px;font-weight: 500;cursor: pointer;" class="cy">创意<span class="glyphicon glyphicon-chevron-down" style="color: rgb(0, 0, 0);"></span></p>
        <div class="sheng">
            <p><span>移动访问URL：</span><input type="text" class="yidongwen" name="fwurl" data-rule-maxlength="1024"><span>移动显示URL：</span><input type="text" class="yidongxian" name="xsurl" data-rule-maxlength="36"></p>
            <p><span>创意标题：</span><input type="text" class="chuangtitle" placeholder="{keyword}-标题" name="cytitle"data-rule-maxlength="50" data-rule-minlength="8"><span>创意通配符：</span><input type="text" class="tpf" placeholder="{xxx}" name="tpf"></p>
            <p><span>创意描述1：</span><input type="text" class="chuang1" name="cyms1" data-rule-maxlength="80"  placeholder="{keyword}-描述" data-rule-minlength="8"><span>创意描述2：</span><input type="text" class="chuang2" name="cyms2" data-rule-maxlength="80"   placeholder="{keyword}-描述" data-rule-minlength="8"></p>
            <p><span>启用/暂停：</span><select name="cisuse" id="" class="csele"><option selected>启用</option><option>暂停</option></select></p>
            <p><input type="submit" value="提交" class="bt"></p>
        </div>

        <hr style=" height:2px;border:none;border-top:2px dotted #185598;">
    </div>
    </form>
    <div class="old clear">
        <div class="new">

        </div>


    </div>
    <div class="xiang">

    </div>
</div>

