<div id="page-wrapper">
    <div class="left_box">
        <select class="form-control select"  style="width: 200px;display: inline-block">
            <option >全面搜索</option>
            <option>关键词搜索</option>
        </select>
        <form class="bs-example bs-example-form" role="form" style="width: 300px;position: absolute;top: 11px; left: 300px;">
                    <div class="input-group">
                        <input type="text" class="form-control input_text">
                    <span class="input-group-btn">
                        <button class="btn btn-default send"  type="button">发送</button>
                    </span>
                    </div>
        </form>
        <div class="add_new_table"></div>
        <div class="first_table box">

        </div>
    </div>
    <div class="right_box">
        <button type="button" class="btn btn-primary add">点击新增</button>
        <button type="button" class="btn btn-primary down">导出下载</button>
        <div class="add_right_box">
            <table id = "right_table" class="text_0"  name="table" cellspacing="0" cellpadding="10px" align="center">
                <thead>
                <tr >
                    <th colspan="3" style="text-align: center">关键词</th>
                </tr>
                <tr >
                    <th colspan="3" style="text-align: center"><button class="lead">导入</button></th>
                </tr>
                <tr >
                    <th>序号</th>
                    <th>关键词名称</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody class="new_list">

                </tbody>
            </table>
            <div class="new_box">

            </div>
            <div class="table_hide right_list">
                <!-- 隐藏克隆 -->
                <table name="table" cellspacing="0" cellpadding="10px" align="center" >
                    <thead>
                    <tr >
                        <th colspan="3" style="text-align: center">关键词</th>
                    </tr>
                    <tr >
                        <th colspan="3" style="text-align: center"><button class="lead">导入</button></th>
                    </tr>
                    <tr >
                        <th >选择</th>
                        <th>关键词名称</th>
                        <th>删除</th>
                    </tr>
                    </thead>
                    <tbody class="new_list">
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</div>
