
.check {
    display: inline-block;
}
.left_box {
    width:50%;
    height:100%;
    float: left;
}
.left_box_header,.right_box_header {
    width:100%;
    height:34px;
    margin-top: 20px;

}
.seek {
    width:200px;
    margin-right: 50px;
    float: left;
}
.seek_form {
    width:300px;
    float: left;
}
.first_table {
    width:100%;
    margin-top:30px ;
}

.tab1 th {
    width:250px;
}
.tab1 .list td {
    width:250px;
}

.tab th {
    width:160px;
}
.tab .list td {
    width:160px;
}
.first_table input {
    width:20px;
    height:20px;
}

/*右侧*/
.right_box {
    width:50%;
    height:100%;
    float: right;
}
.add_right_box {
    width:100%;
    height:100%;
}
.add_right_box table {
    width:450px;
    float: left;
    margin:30px 100px 30px 10px;
}
.add_right_box table thead {
    display:block;
}

.add_right_box table thead th {
    border:1px solid black ;
    width:137px;
    height:40px;
}
.add_right_box table thead th input {
    width:280px;
    height:30px;
}
.text_center th {
    text-align: center;
}
.new_list {
    display:block;
    width:440px;
    max-height:300px;
    overflow-y: scroll;
}
.new_list tr td {
    width:138px;
}
.lead {
    width:100%;
    height: 50px    ;
    background: white;
    padding: 0;
    margin:0;
}
.remove {
    width: 102px;
    height: 30px;
    background: #f0f0f0;
    outline: none;
}
.remove_all {
    position: absolute;
    top: -11px;
    right: 43px;
}

.table_hide table thead th {
    border:1px solid black ;
    width:100px;
    height:50px;
}
