
<div class="title clear">
    <div class="lef">
        <img src="http://7xrc8m.com2.z0.glb.qiniucdn.com/%40%2Fduoshou%2F%E7%BE%BD%E6%89%87LOGO2.png" class="logo"/>
    </div>
    <div class="rig">
    </div>
    <div class="clear">
    </div>
</div>
<div style="margin-top: 60px;margin-left: 20px;font-size: 23px;font-weight: bold;">
    <h1>页面转化率--<span class="hu">哈哈哈</span></h1>
</div>
<div class="table1" id="users">
    <div class="searchs">
        <input type="text" placeholder="Search" class="search"/>
        <span class="glyphicon glyphicon-search" style="color:#666;"></span>
    </div>
    <div id="tb" style="height:420px;"></div>
</div>
<div class="simulation clear">
</div>
<ul>
</ul>
<div id="main"  style="height:650px;width:90%;margin-top:30px;padding-bottom: 30px;margin-left: 5%;"></div>