<div id="page-wrapper">
    <div class="struct">
        <legend>修改用户</legend>
        <form id="myForm1">
        <p class="write-psd"><span class="ding">真实姓名：</span><input type="text" class="username1" name="realname" data-rule-required="true" ></p>
        <p class="write-psd"><span class="ding">用户名：</span><input type="text" class="users1" name="name" data-rule-required="true"></p>
        <p class="write-psd"><span class="ding">邮箱：</span><input type="text" class="email1" name="email" data-rule-email="true" ></p>
        <p class="write-psd"><span class="ding">手机：</span><input type="text" class="phone1" name="phone" data-rule-phoneCN="true" ></p>
        <p><input class="refer" value="提交" type="submit" style="width:70px;padding-left:20px;text-align: center;"></p>
        </form>
        <hr style=" height:2px;border:none;border-top:2px dotted #185598;">
        <legend>注册用户</legend>
        <div class="zhuce">
            <form id="myForm">
                <p>
                    <span class="ding">真实姓名：</span><input type="text" name="realname" data-rule-required="true" class="username" autocomplete="off" placeholder="请输入您的真实姓名"/>
                </p>
                <p>
                    <span class="ding">用户名：</span><input type="text" name="name" data-rule-required="true" class="users" autocomplete="off" placeholder="请输入您的用户名"/>
                </p>
                <p>
                    <span class="ding">密码：</span><input type="password" name="password" data-rule-required="true" class="psd" autocomplete="off" placeholder="请输入您的密码"/>
                </p>
                <p>
                    <span class="ding">邮箱：</span><input type="text" name="email" data-rule-email="true" class="email" autocomplete="off" placeholder="请输入您的邮箱"/>
                </p>
                <p>
                    <span class="ding">手机号：</span><input type="text" name="phone" data-rule-phoneCN="true" class="phone" autocomplete="off" placeholder="请输入您的手机号"/>
                </p>
                <!--<p>
                    <span class="ding">用户类型：</span>
                    <select name="type" id="type1" class="">
                        <option value="xianshi">显示</option>
                        <option value="yonghu">用户</option>
                        <option value="meiti">媒体</option>
                    </select>
                </p>-->
                <p>
                    <span class="ding">用户类型：</span>
                    <select name="type" id="type2" class="">
                    </select>
                </p>
                <p>
                    <input type="submit" class="clk" value="注册" style="width:70px;padding-left:20px;text-align: center;"/>
                </p>
            </form>
        </div>

        <hr style=" height:2px;border:none;border-top:2px dotted #185598;">
        <legend>添加账户</legend>
        <p>
            <button type="button" class="btn btn-warning member">添加账户</button>
        </p>
        <ul class="list-group a">

        </ul>
    </div>
</div>
