<div id="page-wrapper">
    <div class="struct">
        <h1>分组管理</h1>
        <p class="write-psd">修改密码：<input type="text" class="psd"><button class="refer">提交</button></p>
        <hr style=" height:2px;border:none;border-top:2px dotted #185598;">
        <p>组名：<input type="text" class="group-name"><button class="add">添加分组</button></p>
        <div class="top">
            aaa
        </div>
    </div>
</div>
