
<div class="hidden1" id="users">
    <div class="title clear">
        <div class="lef">
            <img src="http://7xrc8m.com2.z0.glb.qiniucdn.com/%40%2Fduoshou%2F%E7%BE%BD%E6%89%87LOGO2.png" class="logo"/>

        </div>
        <div class="rig">
            <span class="fu-mess">
                <img src="./images/消息提醒.png" alt="" class="message"/>
            </span>
            <span class="userb">
                <div class="xuan1">
                    <span class="userb-1">loading...</span>
                    <span><span class="time">,早上好!</span></span>
                </div>
                <div class="xuan2" style="font-weight: bold;">
                    退出
                </div>
            </span>
        </div>
        <div class="clear">

        </div>
    </div>
    <dl>
        <dt>
            系统通知：
        </dt>
        <dd>
            这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息这里推送消息
        </dd>
    </dl>
    <input type="text" placeholder="搜索账户" class="user search"/>
    <div class="clear see list">
    </div>
</div>
