<option value="all" class="tui" style="font-weight: bold;font-size: 22px;padding: 10px 10px 10px 0px; ">所有账户</option>
<% if(accounts) { for (var i=0; i < accounts.length; i++) { %>
    <option value="<%= accounts[i].appid %>" class="tui" <% if(currentAccount && (accounts[i].appid === currentAccount.appid)) {%> selected <% } %> style="font-weight: bold;font-size: 22px;padding: 10px 10px 10px 0px;"><%= accounts[i].name %></option>
<% }} %>