<div id="page-wrapper">
    <div class="struct">
        <legend>修改用户</legend>
        <form id="myForm1">
        <p class="write-psd"><span class="ding">真实姓名：</span><input type="text" class="username1" name="realname" data-rule-required="true"></p>
        <p class="write-psd"><span class="ding">用户名：</span><input type="text" class="users1" name="name" data-rule-required="true"></p>
        <p class="write-psd"><span class="ding">邮箱：</span><input type="text" class="email1" name="email" data-rule-email="true" ></p>
        <p class="write-psd"><span class="ding">手机：</span><input type="text" class="phone1" name="phone" data-rule-phoneCN="true" ></p>
        <p><input class="refer" value="提交" type="submit" style="width:70px;padding-left:20px;text-align: center;"></p>
        </form>
    </div>
</div>
