<div id="page-wrapper">
    <div style="margin-left: 30px;margin-top: 20px;">
        开始时间:<input type="text" id="date1"/>——结束时间:<input type="text" id="date2"/><span class="out">导出</span><!--折:<input type="text" id="zhe"/>-->
    </div>
    <div class="nav-li">
        <span class="li1 ck">总日报</span><span class="li2">计划数据</span>
    </div>

    <div class="ribao1" id="users" style="height: 70%;">
        <div class="tmp" style="height: 100%;overflow: hidden;"></div>
    </div>
    <div class="jihua1" id="users2" style="height: 70%;">
        <div class="tmp1" style="height: 100%;overflow: hidden;">

        </div>
    </div>
</div>
