<div id="page-wrapper">
    <span class="out">导出</span>
    <div style="margin-left: 30px;margin-top: 20px;">
        开始时间:<input type="text" id="date1"/>——结束时间:<input type="text" id="date2"/><!--折:<input type="text" id="zhe"/>-->
    </div>

    <div class="nav-li">
        <span class="li1 ck">总日报</span><span class="li2">计划数据</span>
    </div>

    <div class="ribao1" id="users">
        <div class="searchs">
            <input type="text" placeholder="Search" class="search"/>
            <span class="glyphicon glyphicon-search" style="color:#666;"></span>
        </div>
        <div class="tmp"></div>
    </div>
    <div class="jihua1" id="users2">
        <div class="searchs">
            <input type="text" placeholder="Search" class="search1"/>
            <span class="glyphicon glyphicon-search" style="color:#666;"></span>
        </div>
        <div class="tmp1">

        </div>
    </div>
</div>
