<div id="page-wrapper">
    <div style="margin-left: 30px;margin-top: 20px;">
        开始时间:<input type="text" id="date1"/>——结束时间:<input type="text" id="date2"/>
        <button style="color: #fff;background: #4390b9;border-radius: 5px;padding: 7px 17px;margin-left:10px;margin-right:10px;border: none;" class="look-jihua">查看</button>
        <span class="out">导出</span>

        <form class="form-inline" role="form" id="myForm" enctype="multipart/form-data">
            <div class="form-group">
                <label class="sr-only" for="inputfile">文件输入</label>
                <input type="file" id="inputfile" name="file">
            </div>
            <button type="submit" class="upload">上传</button>
        </form>

    </div>
    <div class="nav-li">
        <span class="li1 ck">总日报</span><span class="li2">计划数据</span>
    </div>
    <button style="color: #fff;background: #4390b9;border-radius: 5px;padding: 7px 17px;margin-left:30px;margin-right:10px;border: none;" class="zk">展开</button>
    <div class="ribao1" id="users" style="height: 70%;">
        <button class="sort" data-sort="view" style="margin-left: 30px;">
            展现排序
        </button>
        <button class="sort" data-sort="time">
           时间排序
        </button>
        <button class="sort" data-sort="acsum">
            实际消费排序
        </button>
        <div class="tmp" style="height: 100%;"></div>
    </div>
    <div class="jihua1" id="users2" style="height: 70%;">
        <button class="sort1" data-sort="date" style="margin-left: 30px;">
            时间排序
        </button>
        <button class="sort1" data-sort="tui_jihua">
            推广计划排序
        </button>
        <button class="sort1" data-sort="ji_view">
            展现排序
        </button>
        <div class="tmp1" style="height: 100%;">

        </div>
    </div>
</div>
