<!--<button id="btn">return</button>-->

<input type="text" placeholder="输入appid" class="appid">
<input type="text" placeholder="输入时间：2016-07-07" class="time">
<button class="sub">提交</button>
<div class="clear">
    <div id="tb" style="width: 500px;">
    </div>
    <div id="tb1" style="width: 500px;">
    </div>
</div>
