<div id="page-wrapper">
    <div class="struct">
        <legend>修改密码</legend>
        <p class="write-psd"><span class="ding">旧密码：</span><input type="password" class="old_psd"></p>
        <p class="write-psd"><span class="ding">新密码：</span><input type="password" class="psd"></p>
        <p class="write-psd"><span class="ding">重复新密码：</span><input type="password" class="re_psd"></p>
        <p><button class="clk">提交</button></p>
    </div>
</div>
