<% for (var i in data) {%>
<li class="list-group-item">
    <span><input type="checkbox" name="check"></span>
    <span data-id="<%=data[i].id %>" data-appid="<%=data[i].appid %>" data-name="<%=data[i].name %>" class="sem"><%=data[i].name %></span>
</li>
<% } %>
<li class="list-group-item">
    <button class="add">添加</button>
</li>