<div class="login">
  <p>
    <img src="./images/Profile1.png" alt="" class="user1"/>
    <input type="text" class="user" placeholder="请输入您的账号"/>
  </p>
  <p>
    <img src="./images/Lock.png" alt="" class="pwd1"/>
    <input type="password" class="pwd" placeholder="请输入您的密码"  onkeydown="kLogin();"/>
  </p>
  <p>
    <input type="button" class="clk" value="登陆"/>
  </p>
</div>