<div id="page-wrapper">
    <span class="out">导出</span>
    <div class="nav-li">
        <span class="li1 ck">总日报</span><span class="li2">计划数据</span>
    </div>
    <div class="ribao1">
        <table cellspacing="30px" id="table1" class="tablesorter table-striped">
            <thead>
            <tr>
                <th>日期
                </th>
                <th>展现
                </th>
                <th>点击
                </th>
                <th>消费
                </th>
                <th>折后总消费
                </th>
                <th>点击单价
                </th>
                <th>点击率
                </th>
                <th>羽扇下载
                </th>
                <th>折后下载成本
                </th>
                <th>总激活
                </th>
                <th>激活率
                </th>
                <th>折后安卓消费
                </th>
                <th>安卓总激活</th>
                <th>折后ios消费</th>
                <th>ios总激活</th>
                <th>折后安卓激活成本</th>
                <th>折后ios激活成本</th>
                <th>账户余额</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody class="table1 list">
                <tr>
                    <td>2016-08-08</td>
                    <td>151012</td>
                    <td>6441</td>
                    <td>3365.53</td>
                    <td>2492.99</td>
                    <td>0.52</td>
                    <td>0%</td>
                    <td>1044</td>
                    <td>2.39</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>0%</td>
                    <td>2492.99</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        444444
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        0000000
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>2016-08-08</td>
                    <td>151012</td>
                    <td>6441</td>
                    <td>3365.53</td>
                    <td>2492.99</td>
                    <td>0.52</td>
                    <td>0%</td>
                    <td>1044</td>
                    <td>2.39</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>0%</td>
                    <td>2492.99</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        444444
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        0000000
                    </td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="jihua1">

    </div>
</div>
