<div id="page-wrapper">
    <div class="struct">
        <legend>添加账户</legend>
        <p>
            <select id="sem">
                <option value="">aaa</option>
            </select>
        </p>
        <ul class="list-group a">

        </ul>
    </div>
</div>
