<div id="page-wrapper">
    <div class="struct">
        <legend>添加账户</legend>
        <p>
            <button type="button" class="btn btn-warning member">添加账户</button>
        </p>
        <ul class="list-group a">

        </ul>
    </div>
</div>
