<div id="page-wrapper">
<!--<div class="spinner1">-->
<!--<div class="spinner">-->
<!--<div class="double-bounce1"></div>-->
<!--<div class="double-bounce2"></div>-->
<!--</div>-->
<!--</div>-->
<div class="time">
    <!--<img src="./images/ri.png" alt="" class="rili"/>-->
    开始<input type="text" id="alert1"/>
    结束<input type="text" id="alert"/>
    <button style="color: #fff;background: #4390b9;border-radius: 5px;padding: 5px 17px;margin-left:10px;margin-right:10px;border: none;" class="look-jihua">查看</button>
</div>
<div class="all clear">
    <span>
        <p>总点击</p>
        <p class="numb all-today">Loading...</p>
    </span>
    <span>
        <p>总下载</p>
        <p class="numb all-todaydl">Loading...</p>
    </span>
    <span>
        <p>iOS总下载</p>
        <p class="numb all-iosdl">Loading...</p>
    </span>
    <span>
        <p>Android总下载</p>
        <p class="numb all-androiddl">Loading...</p>
    </span>
    <span class="opa">
        <p>总激活</p>
        <p class="numb all-active">Loading...</p>
    </span>
</div>
<!--<form id="form" method="post" action="" enctype="multipart/form-data">-->
<div class="choose clear">
    <span class="cspan">
        <p class="choose-1">设备</p>
        <p class="choose2">
            <span class="l1 qudao_active">全部</span><span class="l2">iOS</span><span class="l3">Android</span>
        </p>
    </span>
    <span style="margin-left: 20px;" class="cspan">
        <p class="choose-1">来源</p>
        <p class="choose2">
            <span class="r1 qudao_active">全部</span><span class="r2">百度来源</span><span class="r3">搜索</span><span class="r5">其他</span><span class="r4">百度其他</span>
        </p>
    </span>
    <span style="margin-left: 20px;margin-top: 38px;" class="cspan">
        <span class="daochu">导出</span>
    </span>
</div>
<div class="biao" id="users">
    <div class="biao-1 clear">
        <span class="look">
            <!--<a href="#">查看分时数据</a>-->
        </span>
        <div class="searchs">
            <input type="text" placeholder="Search" class="search"/>
            <span class="glyphicon glyphicon-search" style="color:#666;"></span>
        </div>
    </div>
    <div class="biao-2">



    </div>
</div>
<div></div></div>
