<div id="page-wrapper">
    <div style="width: 960px;">
        <li style="margin-left: 30px;margin-top: 20px;" class="trends">
            <span class="inx"></span>
            开始时间:<input type="text" class="date1 dp" placeholder="01/03/2017" />
            <select class="time1">
                <option>00:00</option>
                <option>01:00</option>
                <option>02:00</option>
                <option>03:00</option>
                <option>04:00</option>
                <option>05:00</option>
                <option>06:00</option>
                <option>07:00</option>
                <option>08:00</option>
                <option>09:00</option>
                <option>10:00</option>
                <option>11:00</option>
                <option>12:00</option>
                <option>13:00</option>
                <option>14:00</option>
                <option>15:00</option>
                <option>16:00</option>
                <option>17:00</option>
                <option>18:00</option>
                <option>19:00</option>
                <option>20:00</option>
                <option>21:00</option>
                <option>22:00</option>
                <option>23:00</option>
            </select>点
            ——    结束时间:
            <select class="time2">
                <option>00:00</option>
                <option>01:00</option>
                <option>02:00</option>
                <option>03:00</option>
                <option>04:00</option>
                <option>05:00</option>
                <option>06:00</option>
                <option>07:00</option>
                <option>08:00</option>
                <option>09:00</option>
                <option>10:00</option>
                <option>11:00</option>
                <option>12:00</option>
                <option>13:00</option>
                <option>14:00</option>
                <option>15:00</option>
                <option>16:00</option>
                <option>17:00</option>
                <option>18:00</option>
                <option>19:00</option>
                <option>20:00</option>
                <option>21:00</option>
                <option>22:00</option>
                <option selected>23:00</option>
            </select>点
            <button class='btn-danger del'>删除</button>
        </li>
        <div class="trends-all">
        </div>
        <div style="text-align: right;margin-top: 20px;"><button class="tj">添加</button></div>
        <div style="text-align: center;"></div>
    </div>
    <div>
        <div class="nav-li" style="display: inline-block">
            <span class="li1 clink">本户</span><span class="li2">计划</span>
        </div>
        <button class="ck">查看</button>
    </div>

    <div class="tol">
        <div style="text-align: right;">
            <select class="time3">
                <option selected>cpc</option>
                <option>cpd</option>
                <option>总下载</option>
                <option>展现</option>
                <option>点击</option>
                <option>消费</option>
                <option>激活</option>
            </select>
        </div>

        <div id='d1' style="height:400px;width:100%;"></div>
        <div class="tb">

        </div>
    </div>
    <div class="tol1">
        <div class="clear">
            <select class="time4" style="float:left;">

            </select>
            <select class="time5" style="float:right;">
                <option selected>cpc</option>
                <option>cpd</option>
                <option>总下载</option>
                <option>展现</option>
                <option>点击</option>
                <option>消费</option>
                <option>激活</option>
                <option>按钮展现</option>
                <option>按钮点击</option>
                <option>按钮消费</option>
            </select>
        </div>

        <div id='d2' style="height:400px;width:100%;"></div>
        <div class="tb1">

        </div>
    </div>
</div>
