<li style="margin-left: 30px;margin-top: 20px;" class="trends">
    <span class="inx"></span>
    <input type="text" class="date1 dp" placeholder="01/03/2017" />
    <button class='btn-danger del'>删除</button>
</li>