
.search,select{
    padding-left: 10px;
    padding-right: 20px;
    margin-left: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    /*box-shadow: 0px 2px 2px #ccc;*/
    list-style: none;
    border: 1px solid #ccc;
}
button{
    color: #fff;
    background: #428bca;
    border-radius: 5px;
    border: none;
    list-style: none;
    padding: 10px 20px;
}
.glyphicon {
    position: relative;
    top: 1px;
    right: 27px;
    display: inline-block;
    font-family: Glyphicons Halflings;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*
table.tablesorter thead tr .tablesorter-header-inner{
    background-image: url(./images/bg.gif);
    background-size: 6px;
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter thead tr .tablesorter-headerAsc .tablesorter-header-inner{
    background-image: url(./images/asc.gif);
}
table.tablesorter thead tr .tablesorter-headerDesc .tablesorter-header-inner{
    background-image: url(./images/desc.gif);
}
*/
