<div id="page-wrapper">
    <h1>账户设置</h1>
    <div class="top">
        <p><span>名字<i style="color: red;">*</i>：</span></p>
        <p><input type="text" class="name"></p>
        <p><span>Appid<i style="color: red;">*</i>：</span></p>
        <p><input type="text" class="appid" disabled="disabled"></p>
        <p><span>类型<i style="color: red;">*</i>：</span></p>
        <p><input type="text" class="leixing" disabled="disabled"></p>
        <p><span>第三方账户<i style="color: red;">*</i>：</span></p>
        <p><input type="text" class="three"></p>
        <p><span>第三方账户密码<i style="color: red;">*</i>：</span></p>
        <p><input type="text" class="threepass"></p>
        <p><span>Token<i style="color: red;">*</i>：</span></p>
        <p><input type="text" class="token"></p>
        <p><span>状态<i style="color: red;">*</i>：</span></p>
        <!--<p><input type="text" class="zt" placeholder="1/0；1是启用，0是暂停"></p>-->
        <p><select name="" id="" class="zt">
                <option>启用</option>
                <option>暂停</option>
            </select></p>
        <p><span>返点<i style="color: red;">*</i>：</span></p>
        <p><input type="number" class="fd" max="1" min="0" placeholder="输入小于1"></p>
        <p><button>提交</button></p>
    </div>
</div>
