<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/"style="background: #4390b9;">
            <img class="navbar-brand" src="http://7xrc8m.com2.z0.glb.qiniucdn.com/%40%2Fduoshou%2F%E7%BE%BD%E6%89%87LOGO2.png" />
        </a>
    </div>
    <!-- /.navbar-header -->
    <ul  class="nav navbar-top-links navbar-left header_infor">
        <li>
            <select  id="us">
            </select>
        </li>
        <!--<li><a href="http://sem.yushanapp.com/jy/active.html" target="_blank">录入激活</a></li>
        <li><a href="##">生成日报</a></li>-->
        <li><a href="<%= constructInsideUrl('sem/lrate') %>" target="_blank" style="background: #4390b9;">页面转化率</a></li>
    </ul>
    <ul class="nav navbar-top-links navbar-right" id="top-menu">
        <li class="dropdown">
            <a class="dropdown-toggle"  style="background: #4390b9;">
                <i><img src="http://7xrc8m.com1.z0.glb.clouddn.com/%E6%B6%88%E6%81%AF%E6%8F%90%E9%86%92.png" alt="" class="message"/></i>  <span class="badge badge-important unread-count">12</span>
            </a>
        </li>


        <!-- /.dropdown -->

        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
</nav>