<div id="page-wrapper">
    <h1></h1>
    <button class="retun">返回</button>
    <div class="top" style="margin-top: 20px;">
        <div class="panel-group" id="accordion">

        </div>
    </div>
    <hr style=" height:2px;border:none;border-top:2px dotted #185598;">
    <p>
        <button type="button" class="btn btn-warning cy">添加成员</button>
    </p>
    <ul class="list-group a">

    </ul>

</div>
