
    <% for (var i = 0; i < el.iframelink.length; i++) {%>
    <div class="ce"> '
        <div style="overflow: hidden;"><%=el.iframelink[i] %>
            </div>
        <div class="she">
            </div>
        <iframe src=<%=el.iframelink[i] %>  ;
                 height="627px" width="375px"scrolling="yes" frameborder="0" class="frame" >
            脚本之家使用了框架技术，但是您的浏览器不支持框架，请升级您的浏览器以便正常访问脚本之家。
            </iframe>
        <div class="bao1">
            </div>
        </div>
    <% } %>
